body {
    background-color: #e1ab37;
}

p {
    background-color: blueviolet;
    color: #faf9f8;
}

#redline{
    color: red;
}

.bluelines{
    color: navy;
}

.graybackground{
    background-color: gray;
}
